
li{
    list-style: none;
    /* text-align: left; */
    /* margin-bottom: 2px; */
    font-size: 30px;
    border: 1px solid;
    margin-bottom: 5px;
}



.container{
    font-size: large;
    margin: 0 auto;
    width: 980px;

}

.result{
    color: coral;
    font-size: 20px;
    text-align: center;
}

h1,h3 {
    text-align: center;
}

button{
    margin-left: 40%;
    

}
